<app-nav>
</app-nav>

<main>
  <sky-fluid-grid>
    <br>
    <sky-row>
      <sky-column screenXSmall="6">
        <div class="content">
          <img class="image" src="~/assets/images/PEinc.gif" alt="Performance Engineering Inc">
        </div>
      </sky-column>
      <sky-column screenXSmall="6">
        <div class="content">
          <img class="image" src="~/assets/images/PTSllc.gif" alt="Performance Technical Services, LLC">
        </div>
      </sky-column>
    </sky-row>
    <br>
    <sky-row>
        <sky-column screenXSmall="12">
          <div class="content">
            <h1 class="sky-page-heading">
                10027 Park Cedar Drive, Suite 200	 
                Charlotte, NC 28210
            </h1>
          </div>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column screenXSmall="4">
            <div class="content">PE (704) 542-6789</div>
        </sky-column>
        <sky-column screenXSmall="4">
            <div class="content">Fax (704) 542-5851</div>
        </sky-column>
        <sky-column screenXSmall="4">
            <div class="content">PTS (704) 541-1429</div>
        </sky-column>
      </sky-row>
      <br>
      <sky-row>
        <sky-column screenXSmall="4">
            <div class="content">W.E. "Chris" Crispens Jr. PE
                Principal
                chris@performancenc.com</div>
        </sky-column>
        <sky-column screenXSmall="4">
            <div class="content">Drew Flood
                V.P. of Business Development
                dflood@performancenc.com</div>
        </sky-column>
        <sky-column screenXSmall="4">
            <div class="content">Lynn Forsthe
                Recruiting Manager
                lynn@performancenc.com
                </div>
        </sky-column>
      </sky-row>
    <br>
  </sky-fluid-grid>
</main>