<app-nav>
</app-nav>

<main>
  <sky-fluid-grid>
    <br>
    <sky-row>
      <sky-column screenXSmall="6">
        <div class="content">
          <img class="image" src="~/assets/images/pe2.png" alt="Performance Engineering Inc">
        </div>
      </sky-column>
      <sky-column screenXSmall="6">
        <div class="content">
          <img class="image" src="~/assets/images/pts2.png" alt="Performance Technical Services, LLC">
        </div>
      </sky-column>
    </sky-row>
    <br>
    <sky-row>
      <sky-column screenXSmall="12">
        <div class="content">
          <h1 class="sky-page-heading">
            10027 Park Cedar Drive, Suite 200
            Charlotte, NC 28210
          </h1>
        </div>
      </sky-column>
    </sky-row>
    <sky-row>
      <sky-column screenXSmall="4">
        <div class="content">PE (704) 542-6789</div>
      </sky-column>
      <sky-column screenXSmall="4">
        <div class="content">Fax (704) 542-5851</div>
      </sky-column>
      <sky-column screenXSmall="4">
        <div class="content">PTS (704) 541-1429</div>
      </sky-column>
    </sky-row>
    <br>
    <sky-row>
      <sky-column screenXSmall="4">
        <sky-key-info class="content">
          <sky-key-info-value>
            W.E. "Chris" Crispens Jr. PE
          </sky-key-info-value>
          <sky-key-info-label>
            Principal
            <br>
            <a href="mailto:chris@performancenc.com">chris@performancenc.com</a>
          </sky-key-info-label>
        </sky-key-info>
      </sky-column>
      <sky-column screenXSmall="4">
        <sky-key-info class="content">
          <sky-key-info-value>
            Drew Flood
          </sky-key-info-value>
          <sky-key-info-label>
            VP of Business Development
            <br>
            <a href="mailto:dflood@performancenc.com">dflood@performancenc.com</a>
          </sky-key-info-label>
        </sky-key-info>
      </sky-column>
      <sky-column screenXSmall="4">
        <sky-key-info class="content">
          <sky-key-info-value>
            Lynn Forsthe
          </sky-key-info-value>
          <sky-key-info-label>
            Recruiting Manager
            <br>
            <a href="mailto:lynn@performancenc.com">lynn@performancenc.com</a>
          </sky-key-info-label>
        </sky-key-info>
      </sky-column>
    </sky-row>
    <br>
  </sky-fluid-grid>
</main>