<app-nav>
</app-nav>

<main>
    <sky-fluid-grid>
        <br><br>
        <sky-row>
            <sky-column screenXSmall="6">
                <div class="content">
                    <img class="image" src="~/assets/images/pts2.png" alt="Performance Technical Services, LLC">
                </div>
            </sky-column>
            <sky-column screenXSmall="6">
                <div class="content">
                    <img class="image" src="~/assets/images/group.jpg" alt="Group of professionals">
                </div>
            </sky-column>
        </sky-row>
        <sky-row>
            <sky-column screenXSmall="12">
                <div class="content">
                    <h1 class="sky-page-heading">
                        Why Should You Use Performance Technical Services?
                    </h1>
                </div>
            </sky-column>
        </sky-row>
        <sky-row>
            <sky-column screenXSmall="1"></sky-column>
            <sky-column screenXSmall="10">
                <ul>
                    <li>Since 1998 we have specialized in engineering recruitment and staffing.</li>
                    <li>We have a Registered Professional Engineer (PE) in each discipline to assist in the screening and recruiting of candidates. Every resume we submit has been reviewed by a Registered Professional Engineer.</li>
                    <li>We Listen! We listen to our clients. We ask questions to insure that we fully understand the expectations, needs, and skill sets required for the open position.</li>
                    <li>All 50 states – while we specialize in the SE region, we are set up to payroll engineering talent in any state. We welcome your inquiry for a low-markup national contract for serving your company.</li>
                    <li>Low cost payrolling for highly compensated consultants and retiree bring-backs. If you are using consultants demanding $50 or more per hour please ask about our low markup program for highly compensated contract professionals.</li>
                    <li>In 2009, we expanded our staffing services to include life science staffing which include candidates as chemist, biologists, analytical scientists, quality control, quality assurance, and the like.</li>
                  </ul>  
                <br>
            </sky-column>
            <sky-column screenXSmall="1"></sky-column>
        </sky-row>
    </sky-fluid-grid>
</main>