<app-nav>
</app-nav>

<main>
  <sky-fluid-grid>
    <br>
    <sky-row>
      <sky-column screenXSmall="12">
        <div class="content">
          <h1 class="sky-page-heading">
            About
          </h1>
        </div>
      </sky-column>
    </sky-row>
    <sky-row>
      <sky-column screenXSmall="1"></sky-column>
      <sky-column screenXSmall="10">
        <div class="sky-emphasized">
          {{aboutText1}}
        </div>
        <br>
        <div class="sky-emphasized">
          {{aboutText2}}
        </div>
      </sky-column>
      <sky-column screenXSmall="1"></sky-column>
    </sky-row>
    <br><br>

    <sky-row>
      <sky-column screenXSmall="6">
        <sky-row>
          <sky-column screenXSmall="12">
            <div class="content">
              <img class="image" src="~/assets/images/pe2.png" alt="Performance Engineering Inc">
            </div>
          </sky-column>
        </sky-row>
        <br>
        <sky-row>
          <sky-column screenXSmall="12">
            <div class="content">
              <img class="image" src="~/assets/images/pipes.jpg" alt="Pipes and container">
            </div>
          </sky-column>
        </sky-row>
        <br>
        <sky-row>
          <sky-column screenXSmall="12" screenMedium="6">
            <ul>
              <li>
                Engineering Design
              </li>
              <li>
                Energy Cost Reduction Consulting
              </li>
              <li>
                Project Management and Support
              </li>
              <li>
                Equipment Reliability
              </li>
            </ul>
          </sky-column>
          <sky-column screenXSmall="12" screenMedium="6">
            <ul>
              <li>
                Vessel and Piping Inspection
              </li>
              <li>
                Arc Flash Consulting
              </li>
              <li>
                Ammonia Refrigeration Consulting
              </li>
            </ul>
          </sky-column>
        </sky-row>
      </sky-column>
      <sky-column screenXSmall="6">
        <sky-row>
          <sky-column screenXSmall="12">
            <div class="content">
              <img class="image" src="~/assets/images/pts2.png" alt="Performance Technical Services, LLC">
            </div>
          </sky-column>
        </sky-row>
        <br>
        <sky-row>
          <sky-column screenXSmall="12">
            <div class="content">
              <img class="image" src="~/assets/images/blueprint.jpg" alt="blueprints">
            </div>
          </sky-column>
        </sky-row>
        <br>
        <sky-row>
          <sky-column screenXSmall="12" screenMedium="6">
            <ul>
              <li>
                Engineers – All Disciplines
              </li>
              <li>
                Designers – All Disciplines
              </li>
              <li>
                Specialty Consultants
              </li>
              <li>
                Contract to Perm &amp; Payrolling
              </li>
            </ul>
          </sky-column>
          <sky-column screenXSmall="12" screenMedium="6">
            <ul>
              <li>
                Long Term Contract
              </li>
              <li>
                Direct Hire
              </li>
              <li>
                <a href="jobopening.htm">View Open Jobs</a>
              </li>
              <li>
                <a href="performance-engineering/contact-us">Submit Your Resume</a>
              </li>
            </ul>
          </sky-column>
        </sky-row>
      </sky-column>
    </sky-row>
    <br>
  </sky-fluid-grid>
</main>