hr { 
    position: relative; 
    top: 5px; 
    border: none; 
    height: 6px; 
    background: #686c73; 
    margin-bottom: 10px; 
} 

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 10px; 
}