<app-nav>
</app-nav>

<main>
    <sky-fluid-grid>
        <br><br>
        <sky-row>
            <sky-column screenXSmall="6">
                <div class="content">
                    <img class="image" src="~/assets/images/PEinc.gif" alt="Performance Engineering Inc">
                </div>
            </sky-column>
            <sky-column screenXSmall="6">
                <div class="content">
                    <img class="image" src="~/assets/images/hardhat.jpg" alt="Performance Technical Services, LLC">
                </div>
            </sky-column>
        </sky-row>
        <sky-row>
            <sky-column screenXSmall="12">
                <div class="content">
                    <h1 class="sky-page-heading">
                        Capabilities and Services
                    </h1>
                </div>
            </sky-column>
        </sky-row>
        <sky-row>
            <sky-column screenXSmall="1"></sky-column>
            <sky-column screenXSmall="10">
                <div class="sky-emphasized">
                    {{capabilitiesAndServicesText}}
                </div>
                <br>
            </sky-column>
            <sky-column screenXSmall="1"></sky-column>
        </sky-row>
        <sky-row>
            <sky-column screenXSmall="6">
                <ul>
                    <li> Electrical Engineering – Power and Arc Flash</li>
                    <li> Mechanical and HVAC design</li>
                    <li> Instrumentation and Controls</li>
                    <li> Structural Engineering</li>
                    <li> Experienced Project Management Talent</li>
                    <li> CAD Drafting and Design Support – 2D and 3D</li>
                    <li> Expertise in Plant Utilities - Chillers, HVAC, etc </li>
                </ul>
            </sky-column>
            <sky-column screenXSmall="6">
                <ul>
                    <li>Power consumption – Motors and Lighting</li>
                    <li>HVAC - tighten controls, lower costs</li>
                    <li>Chillers – economizers, improved controls</li>
                    <li>Boilers – higher burner efficiency</li>
                    <li>Natural Gas – review rates and options</li>
                    <li>Steam – heat recovery system design</li>
                </ul>
            </sky-column>
        </sky-row>
        <br>
    </sky-fluid-grid>
</main>